################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Homework3.1/.vs/Homework3.1/v16/Browse.VC.opendb
/Homework3.1/.vs/Homework3.1/v16/Browse.VC.db-wal
/Homework3.1/.vs/Homework3.1/v16/Browse.VC.db-shm
/Homework3.1/.vs/Homework3.1/v16/Browse.VC.db
/homework4/.vs/homework4/v16/Browse.VC.opendb
/homework4/.vs/homework4/v16/Browse.VC.db-wal
/homework4/.vs/homework4/v16/Browse.VC.db-shm
/homework4/.vs/homework4/v16/Browse.VC.db
/2020.10.22 - homework5/.vs/2020.10.22 - homework5/v16/Browse.VC.opendb
/2020.10.22 - homework5/.vs/2020.10.22 - homework5/v16/Browse.VC.db-wal
/2020.10.22 - homework5/.vs/2020.10.22 - homework5/v16/Browse.VC.db-shm
/2020.10.22 - homework5/.vs/2020.10.22 - homework5/v16/Browse.VC.db
/2020.10.10 - homework4/.vs/homework4/v16/Browse.VC.opendb
/2020.10.10 - homework4/.vs/homework4/v16/Browse.VC.db-wal
/2020.10.10 - homework4/.vs/homework4/v16/Browse.VC.db-shm
/2020.10.29 - homework6/.vs/2020.10.29 - homework6/v16/Browse.VC.opendb
/2020.10.29 - homework6/.vs/2020.10.29 - homework6/v16/Browse.VC.db-wal
/2020.10.29 - homework6/.vs/2020.10.29 - homework6/v16/Browse.VC.db-shm
